<!-- Section: Pricing v.3 -->
<section class="cards text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Panel semanal</h2>
  <!-- Section description -->

  <!-- Grid row -->
  <div class="row">

      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

    <div class="example-ripple-container mat-elevation-z4" matRipple>
      <div class="kim-gradient">

        <!-- Content -->
        <div class="card-body white-text">

          <!-- Offer -->
          <h5 class="mb-4">Socios/Clientes</h5>
          <div class="d-flex justify-content-center">
            <div class="card-circle d-flex justify-content-center align-items-center">
              <i class="clients fas fa-users"></i>
            </div>
          </div>

          <!--Price -->
          <h2 class="font-weight-bold my-4">9</h2>
          <button (click)="goClient()" mat-raised-button>
            <mat-icon>person_add</mat-icon> Asociar nuevo cliente
          </button>
         

        </div>
        <!-- Content -->

      </div>
    </div>
    </div>


    

    <!-- Grid column -->



  </div>
  <!-- Grid row -->

</section>
<!-- Section: Pricing v.3 -->
<!-- Section: Products v.3 -->