<section class="cards  my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">Clientes asociados</h2>
        <!-- Section description -->
      
        <!-- Grid row -->

        <button (click)="openDialog()" mat-raised-button>
                <mat-icon>person_add</mat-icon> Asociar nuevo cliente
              </button>

        <div class="row">

                  <div *ngFor="let client of clientService.currentClientSubject.value" @flyInOut>

                        <div class="col-lg-3 col-md-3 mb-lg-6 mb-12">

                
                    <mat-card class="cards-group " matRipple>


                        <ul class="surveys grid">
                            <li class="survey-item">
                              
                              <span class="survey-country list-only">
                                 Client
                              </span>
                              
                              <span class="survey-name">
                                  <mat-icon>person</mat-icon>   {{ client.fullName }}
                              </span>
                              

                              <span class="survey-country grid-only">
                                  <mat-icon>phone</mat-icon> {{ client.phoneNumber }}
                               </span>
                               <br>
                               <span class="survey-country grid-only">
                                  <mat-icon>calendar_today</mat-icon> {{ client.birthdate | date:'yyyy-MM-dd' }}
                               </span>
                               <br>
                                 <span class="survey-country grid-only">
                                  <mat-icon>email</mat-icon> {{ client.email }}
                              </span>
                               

                              <div class="pull-right">
                                
                                <span class="survey-progress">

                                  
                                  <span class="survey-progress-labels">
                           
                          
            

                                          <span class="btn-card">

                                              <span class="survey-completes">
                                                  <button  mat-icon-button>
                                                      <mat-icon>edit</mat-icon>
                                                    </button>
                                              <button  mat-icon-button>
                                                  <mat-icon>delete</mat-icon>
                                                </button>

                                              </span>
                                      

                                    </span>
                                  </span>
                                </span>
                                
                     
                               <span class="survey-end-date ended">
                                  <mat-icon>whatshot</mat-icon> Ultima compra: {{ client.product.name }}
                              

                            


                                </span>
                                  <br>
                                <span class="survey-end-date ended">
                                    <mat-icon>perm_identity</mat-icon> Vendedor: Gon Freecss
                                
  
                              
  
  
                                  </span>
                          

                             
            
                              
                                <span class="survey-stage">
                                  <span class="stage draft">Draft</span>
                                  <span class="stage awarded">Awarded</span>
                                  <span class="stage live">Live</span>
                                  <span class="stage ended active">Ended</span>        
                                </span>
                              </div>
                            </li>
                          
                          
                          </ul>  

                          

                        <mat-list>
                            <mat-list-item>
                              <mat-icon>person</mat-icon> <p>{{ client.fullName }}</p> 
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                              <mat-icon>phone</mat-icon> {{ client.phoneNumber }}
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                              <mat-icon>email</mat-icon> {{ client.email }}
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <mat-icon>calendar_today</mat-icon> {{ client.birthdate | date:'yyyy-MM-dd' }}
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <mat-icon>whatshot</mat-icon> Ultima compra: {{ client.product.name }}
                            </mat-list-item>


                            <mat-divider></mat-divider>
                               <mat-list-item></mat-list-item>
                          </mat-list>





                 
                    </mat-card>
                

                </div>

            </div>


          
              <!-- Grid column -->
          
            </div>

       

        

        </section>