

    <!--Navbar-->
    <mat-toolbar class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="#">
          <strong>kim-gas</strong>
        </a>
        <div *ngIf="auth.isLogged">

            <button class="navbar-toggler" mat-button 
            [matMenuTriggerFor]="menu" 
            
            aria-expanded="false" >
            <i class="fa fa-user profile mr-sm-2"></i> 
           
                Hola! 
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <button (click)="auth.logout()" mat-menu-item>Cerrar sesión  <mat-icon>exit_to_app</mat-icon></button>
            </mat-menu>
    

        </div>

        
        <div *ngIf="auth.isLogged" class="collapse navbar-collapse" id="navbarSupportedContent-7">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">Panel
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            -->
          </ul>
         
            <div class="md-form my-0">
            
      
              <button  mat-button
              [matMenuTriggerFor]="menu2" >
                  <i class="fa fa-user profile mr-sm-2"></i> 
                  Hola! 
                  <mat-icon>more_vert</mat-icon>
                </button>
    
                <mat-menu #menu2>
                  <button (click)="auth.logout()" mat-menu-item>Cerrar sesión  <mat-icon>exit_to_app</mat-icon></button>
                </mat-menu>
              
            </div>
      
        </div>
    

      
      </div>
    </mat-toolbar>
    <!-- Navbar -->
    <!-- Full Page Intro -->


    <router-outlet></router-outlet>
    <!-- Full Page Intro -->


    <button *ngIf="auth.promptEvent" (click)="installPwa()">
      Install
    </button>